<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39600808656-91i3sg9skj59pk6o9jc6m7cd9frnnetf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39600808656-91i3sg9skj59pk6o9jc6m7cd9frnnetf</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Bl1C9JB2dJFC1oKIPVsG8oZ-UF-kOF4</string>
	<key>GCM_SENDER_ID</key>
	<string>39600808656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codepym.grad</string>
	<key>PROJECT_ID</key>
	<string>grad-4f780</string>
	<key>STORAGE_BUCKET</key>
	<string>grad-4f780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39600808656:ios:b4a85f8923a908b76f74d5</string>
</dict>
</plist>